
CoreWebApi/.vs/CoreWebApi/v16/.suo
CoreWebApi/CoreWebApi/Properties/PublishProfiles/FolderProfile.pubxml
CoreWebApi/CoreWebApi/Properties/PublishProfiles/FolderProfile.pubxml.user

CoreWebApi/.vs/CoreWebApi/DesignTimeBuild/.dtbcache.v2
