
CoreWebApi/.vs/CoreWebApi/v16/.suo
CoreWebApi/CoreWebApi/Properties/PublishProfiles/FolderProfile.pubxml
CoreWebApi/CoreWebApi/Properties/PublishProfiles/FolderProfile.pubxml.user

CoreWebApi/.vs/CoreWebApi/DesignTimeBuild/.dtbcache.v2
CoreWebApi/.vs/CoreWebApi/config/applicationhost.config
/CoreWebApi/CoreWebApi/Properties/PublishProfiles

CoreWebApi/CoreWebApi/SchoolDocuments
CoreWebApi/CoreWebApi/wwwroot/StaticFiles
.vs
/CoreWebApi/CoreWebApi-Tests/obj
/CoreWebApi/CoreWebApi-Tests/bin
